body {
  background-color: #4682B4;
  font-family: monospace;
}

.height-grid {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.height-cell {
    flex: 1;
}

.width-grid {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
}

.width-cell {
    flex: 1;
}

.top-header {
    color: white;
}

.menu-bar {
    background-color: #F5F5F5;
    padding: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.no-resize {
    resize: none;
}

.no-top-radius {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/*
 * override the default CSS as an example
 */

#loading-bar .bar {
  background: #2c3e50;
}
#loading-bar .peg {
  box-shadow: 0 0 10px #2c3e50, 0 0 5px #2c3e50;
}
#loading-bar-spinner .spinner-icon {
  border-top-color:  #2c3e50;
  border-left-color: #2c3e50;
}

/*
 *
 */
#content {
  background-color: white;
  padding: 5px;
  min-height: 150px;
  font-size: 18px;
}
